/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body {
  font-family: Palatino, Times, serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 20px;
  background-color: #dfd;
}

ul {
  margin-top: 0;
  padding-left: 20px;
}

h1,
h2,
h3 {
  color: #099;
}

h2,
h3 {
  margin-bottom: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: red;
}

a:hover {
  color: blue;
}

header {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ddf;
}

#site_container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
}

#main_nav {
  text-align: center;
}
#main_nav a {
  display: block;
  margin-bottom: 5px;
  padding: 10px 2%;
  border-radius: 5px;
  background: #fdd;
}

#main_nav a:hover {
  background: #ddf;
}

/*MOBILE*/
div,
section {
  border-radius: 5px;
}
header h1 {
  text-align: center;
}
#main_content {
  padding: 0 20px;
  background-color: #dff;
}
#sidebar_content > div {
  margin-top: 20px;
  padding: 0 20px;
  background-color: #ffd;
}
footer {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  background-color: #fbdaa7;
}
footer a {
  padding: 0 10px;
}
section,
header nav {
  display: flex;
  flex-flow: column wrap;
}
/*TABLET*/
@media screen and (min-width: 600px) {
  header nav {
    flex-flow: row wrap;
  }
  header a {
    flex: 1 1 auto;
    margin-right: 20px;
  }
  header a:last-child {
    margin-right: 0;
  }
  #sidebar_content {
    flex-flow: row wrap;
  }
  #sidebar_content > div {
    flex: 1 1 25%;
  }
}
/*DESKTOP*/
@media screen and (min-width: 1100px) {
  header h1 {
    text-align: left;
  }
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  header nav {
    width: 620px;
    flex-flow: row wrap;
    align-items: center;
  }
  header a {
    flex: 1 1 25%;
  }
  #main_content {
    display: flex;
    flex-flow: row wrap;
  }
  #main_content > div:first-child {
    flex: 1 1 25%;
  }
  #main_content > div:last-child {
    flex: 0 1 25%;
    padding-left: 45px;
  }
}
