/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#main_nav{
    text-align: center;
}
#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_nav a:hover{
    background: #ddddff;
}

/*MOBILE*/
div,
section {
    border-radius: 5px;
}
header h1 {
    text-align: center;
}
#main_content {
    background-color: #ddffff;
    padding: 0 20px;
}
#sidebar_content > div {
    background-color: #ffffdd;
    margin-top: 20px;
    padding: 0 20px;
}
footer {
    margin-top: 20px;
    background-color: #FBDAA7;
}
/*#site_footer {
    display: flex;
    flex-flow: row wrap;
    background-color: green;
}*/
/*#site_footer a {
    display: inline-block;
    color: green;
}*/
section,
nav {
    display: flex;
    flex-flow: column wrap;
}
/*TABLET*/
@media screen and (min-width: 600px){
    nav {
        flex-flow: row wrap;
    }
    nav a {
        flex: 1 1 auto;
        margin-right: 20px;
    }
    nav a:last-child {
        margin-right: 0;
    }
    #sidebar_content {
        flex-flow: row wrap;
    }
    #sidebar_content > div {
        flex: 1 1 25%;
    }
}
/*DESKTOP*/
@media screen and (min-width: 1100px){
    header h1 {
        text-align: left;
    }
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    nav {
        flex-flow: row wrap;
        align-items: center;
        width: 620px;
    }
    nav a {
        flex: 1 1 25%;
    }
    #main_content {
        display: flex;
        flex-flow: row wrap;
    }
    #main_content > div:first-child {
        flex: 4 1 25%;
    }
    #main_content > div:last-child {
        flex: 0 1 25%;
        padding-left: 45px;
    }
}
